# =========================
# Godot (NUNCA versionar)
# =========================
.godot/
.import/
.export/
.export_presets.cfg

# =========================
# Sistema
# =========================
.DS_Store
Thumbs.db
